extends layout

block content

	div(class="content row")
		div(class="main-content col-sm-8 col-md-8")
			<button type="button" class="btn btn-default" id="add-content">Click to add content</button>

			section
				h2 The Portfolio of Kelsey Meadows
				p(class="lead") Still in development- Explore and let us any problems you experience or awesomeness you want to share.

		div(class="sidebar hidden-xs col-sm-4 col-md-4")
			p Maecenas sodales ac metus vitae mollis. 